header.books__header
  button.btn.books__btn-add(type='button') +
  button.btn.books__btn-edit(type='button', disabled)
    +icon-mono('edit')
  button.btn.books__btn-del(type='button', disabled)
    +icon-mono('del')

table.books__table
  thead
    tr
      th(scope='col') id
      th(scope='col') Title
      th(scope='col') Author
      th(scope='col') Year
      th(scope='col') Publisher
      th(scope='col') Pages
      th(scope='col') Count
  tbody
