header.books__header
  button.btn.books_btn(type='button')

table.books__table
  thead
    tr
      th(scope='col') id
      th(scope='col') Title
      th(scope='col') Author
      th(scope='col') Year
      th(scope='col') Publisher
      th(scope='col') Pages
      th(scope='col') Count
  tbody
    template.table__row-template
      tr
        th 1
        th Book
        th Auth
        th 1994
        th Unknown
        th 124
        th 2
    tr
      th 1
      th Book
      th Auth
      th 1994
      th Unknown
      th 124
      th 2
    tr
      th 1
      th Book
      th Auth
      th 1994
      th Unknown
      th 124
      th 2
