// menu

.menu {
  margin-top: 32px;

  &__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    flex-grow: 1;

    padding: 12px;

    font-size: 24px;
    text-align: center;

    background-color: #f4fff4;

    &:first-child {
      border-radius: 26px 0 0 26px;
    }

    &:last-child {
      border-radius: 0 26px 26px 0;
    }
  }

  &__link,
  &__link:visited {
    color: #5d5076;
    text-decoration: none;
  }

  &__item:hover,
  &__item--active {
    border-bottom: solid 3px #f4696b;
    cursor: pointer;
  }
}
