dialog()
  .modal
    form.modal__form
      button.modal__btn-close.btn(type='button') X
      .modal__container
        input.modal__input.form-search__textbox(placeholder='Title')
        input.modal__input.form-search__textbox(placeholder='Author')
        input.modal__input.form-search__textbox(placeholder='Year')
        input.modal__input.form-search__textbox(placeholder='Publisher')
        input.modal__input.form-search__textbox(placeholder='Pages')
      button.modal__btn-ok.btn(type='button') ok
