include ../data/config.pug
include ../components/**/*.pug

block variables

doctype html
html(lang='ru')
  head
    include ../parts/head.pug

  body.container(class= bodyClass)
    block header
      include ../parts/header.pug

    main.main
      block content

    block scripts
      script(src='js/main.min.js?v=' + siteVersion)
